<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="dogs/create">
    <label for="id">Id</label>
    <input type="text" name="id" id="id">

    <label for="id">Dog Name</label>
    <input type="text" name="dogName" id="id">

    <label for="id">Age</label>
    <input type="text" name="age" id="id">

    <label for="id">Owner Name</label>
    <input type="text" name="ownerName" id="id">

    <input type="submit">

</form>

</body>
</html>